body{

    display: flex;
margin: 100px 100px;
    height: 100vh;
}
.main{
    width: 64px;
    height: 64px;
    border: 5px solid black;
    border-radius: 100%;
    animation: spin 1s linear infinite;
    border-top-color: white;
}
@keyframes spin{
    0% {transform:rotate(0deg);}
    100% {transform: rotate(360deg);}
}

